.bg-hero{
  position: relative;
}

.banner-bf{
  
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  background: rgb(51,9,74);
background: -moz-linear-gradient(90deg, rgba(51,9,74,1) 0%, rgba(0,0,0,1) 50%, rgba(51,9,74,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(51,9,74,1) 0%, rgba(0,0,0,1) 50%, rgba(51,9,74,1) 100%);
background: linear-gradient(90deg, rgba(51,9,74,1) 0%, rgba(0,0,0,1) 50%, rgba(51,9,74,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33094a",endColorstr="#33094a",GradientType=1);
}

.banner-bf .logo {

}

.banner-bf .logo{
  width: 220px;
  max-width: 80%;
  margin-right: 20px;
}

.banner-bf .discount{
  width: 220px;
  max-width: 80%;
}


.listing-packages{
  background: #000;
}


.package__head{
  padding-top: 30px;
}

.pricing-card .discount-rate{
  display: inline-block;
  border-radius: 100px;
}
.pricing-card .discount-rate span{
  color: #fff;
  font-size: 13px;
  line-height: 0;
  font-weight: 600;
  letter-spacing: 0.4px;
  background: #dd4040;
  padding: 2px 12px;
  border-radius: 360px;
}


.badging-bf{
  background: #000;
  color: #fff;
  border-radius: 9999px;
  text-transform: uppercase;
  display: inline-block;
  transform: translateX(50%) translateY(.375rem) rotate(-2deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
  font-size: 12px;
  padding: 1px 10px;
  position: absolute;
  font-weight: bold;
  right: 50%;
  top: -14px;
  z-index: 99;
  box-shadow: 0 0 24px #46bbee;
}

.b-pricing-div {
  position: relative;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 0!important;
  padding-bottom: 0!important;
  margin-left: 2px;
  margin-right: 2px;
}

.b-pricing-txt-before {
  padding-right: 3px;
  padding-left: 3px;
  font-size: 17px;
  line-height: 45px;
  font-weight: 600;
  text-decoration: none;
  color: #e3493b;
}

.b-pricing-div-line {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 1px;
  background-color: #e45346;
  -webkit-transform: rotate( -5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate( -5deg);
}

.pricing-from{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.badging{
  top: -38px;
}

.badging span{
  padding: 12px 0 17px 0;
}


@media screen and (max-width: 548px) {
  .banner-bf{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .banner-bf .logo{
    width: 200px;
    max-width: 80%;
    margin-right: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .banner-bf .discount{
    width: 178px;
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  .pricing-card .discount-rate span{
    font-size:15px;
  }
}