@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'QuickSand';
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand/Quicksand-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: #F4F4FA;
}

@layer components {
  .primary-title {
    @apply text-5xl font-bold text-[#1A002D] max-[600px]:text-3xl max-[400px]:text-[28px]
  }

  .section-title {
    @apply text-6xl max-[1050px]:text-5xl max-[600px]:text-2xl font-bold text-[#1A002D] text-center
  }

  .topic-title {
    @apply text-3xl max-[550px]:text-2xl font-bold text-[#1A002D] text-center
  }

  .text {
    @apply text-lg max-[600px]:text-base font-medium text-[#766A81] tracking-wide
  }

  .section-text-center {
    @apply text-center max-w-[790px] mx-auto;
  }

  .button {
    @apply block w-fit text-center text-[27px] font-bold text-white bg-[#4F008E] py-7 min-[900px]:px-24 rounded-full max-[900px]:w-full max-[900px]:py-5 max-[500px]:text-[17px] max-[500px]:py-3 max-[900px]:mt-8
  }

  .informative-content-blog p+p {
    @apply mt-3
  }

  .informative-content-blog h2 {
    @apply text-lg font-bold text-[#1A002D] my-3
  }

  .informative-content-blog h3 {
    @apply text-lg font-bold text-[#1A002D] my-3
  }

  .informative-content-blog ul {
    @apply my-3
  }

  .informative-content-blog li {
    @apply list-disc ml-10
  }
}

[data-action-bar]+section,
section+[data-action-bar],
section+section,
section+main,
main+section {
  margin-top: 60px;
}

@media screen and (max-width: 600px) {

  [data-action-bar]+section,
  section+[data-action-bar],
  section+section,
  section+main,
  main+section {
    margin-top: 40px;
  }
}

body {
  scroll-behavior: smooth;
}

.marker-before::before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: #CBCDD7;
}

#main-content {
  position: relative;
}

[data-action-bar-container]>.container {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(224, 224, 224, 1);
  box-shadow: 0px 0px 10px 2px rgba(224, 224, 224, 1);
}

.swiper {
  width: 350px;
  height: 600px;
  overflow: visible !important;
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 250px;
    height: 500px;
  }

  .container {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
}

.swiper-cards {
  overflow-x: visible;
  overflow-y: visible;
}