@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'QuickSand';
}

@font-face {
  font-family: 'QuickSand';
  src: url('/fonts/quicksand/Quicksand-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuickSand';
  src: url('/fonts/quicksand/Quicksand-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuickSand';
  src: url('/fonts/quicksand/Quicksand-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuickSand';
  src: url('/fonts/quicksand/Quicksand-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuickSand';
  src: url('/fonts/quicksand/Quicksand-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: #F4F4FA;
}

@layer components {
  .primary-title {
    @apply text-[2.68rem] leading-[1.2] font-bold text-[#1A002D] max-[600px]:text-3xl max-[400px]:text-[28px] max-[400px]:text-center
  }

  .section-title {
    @apply text-6xl max-[1050px]:text-5xl max-[600px]:text-2xl font-bold text-[#1A002D] text-center
  }

  .topic-title {
    @apply text-3xl max-[550px]:text-2xl font-bold text-[#1A002D] text-center
  }

  .text {
    @apply text-lg max-[600px]:text-base font-medium text-[#766A81] tracking-wide
  }

  .section-text-center {
    @apply text-center max-w-[790px] mx-auto;
  }

  .button {
    @apply block w-fit text-center text-[27px] font-bold text-white bg-[#4F008E] py-7 min-[900px]:px-24 rounded-full max-[900px]:w-full max-[900px]:py-5 max-[500px]:text-[17px] max-[500px]:py-3 max-[900px]:mt-8
  }

  .informative-content-blog p+p {
    @apply mt-3
  }

  .informative-content-blog a {
    @apply text-[#473bf0]
  }

  .informative-content-blog h2 {
    @apply text-lg font-bold text-[#1A002D] my-3
  }

  .informative-content-blog h3 {
    @apply text-lg font-bold text-[#1A002D] my-3
  }

  .informative-content-blog ul {
    @apply my-3
  }

  .informative-content-blog li {
    @apply list-disc ml-10
  }
}

[data-action-bar]+section,
section+[data-action-bar],
section+section,
section+main,
main+section,
section+footer {
  margin-top: 130px;
}

.swiper-pagination {
  bottom: -30px !important;
}

@media screen and (max-width: 800px) {

  [data-action-bar]+section,
  section+[data-action-bar],
  section+section,
  section+main,
  main+section,
  section+footer {
    margin-top: 80px;
  }
}


@media screen and (max-width: 600px) {

  [data-action-bar]+section,
  section+[data-action-bar],
  section+section,
  section+main,
  main+section,
  section+footer {
    margin-top: 60px;
  }
}

body {
  scroll-behavior: smooth;
}

.marker-before::before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: #CBCDD7;
}

#main-content {
  position: relative;
}

[data-action-bar-container]>.container {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(224, 224, 224, 1);
  box-shadow: 0px 0px 10px 2px rgba(224, 224, 224, 1);
}

.swiper {
  width: 337.5px;
  height: 600px;
  overflow: visible !important;
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 230px;
    height: 408px;
  }

  .container {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
}

.swiper-cards {
  overflow-x: visible;
  overflow-y: visible;
}

.package-hero-item .best-selling {
  display: block;
  z-index: 10;
}


@media screen and (max-width: 600px) {

  .i-full svg {
    width: 100%;
  }
}

details[open="true"] .arrow-icon {
  opacity: .6;
  transform: rotate(180deg);
  transition: .3s ease;
}

button.woot-widget-bubble {
  z-index: 48 !important;
}

.is-shaking {
  -webkit-animation: button-shake 2.5s ease-in-out infinite;
  animation: button-shake 2.5s ease-in-out infinite
}

.is-glowing:before {
  --glow-size: 12px;
  --glow-color: rgb(1 205 176);
  --glow-color-transparent: rgba(255, 244, 0, 0);
  -webkit-animation: glow 2.5s ease-in-out infinite;
  animation: glow 2.5s ease-in-out infinite
}

.btn-signup.is-glowing:before {
  --glow-color: rgb(252 129 83);
  --glow-size: 10px
}

.is-glowing {
  position: relative;
  z-index: 1
}

.is-glowing:before {
  background: 0 0;
  border-radius: 9999px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1
}

@-webkit-keyframes button-shake {
  0% {
    transform: translateZ(0);
  }

  5% {
    transform: translate(-1px)
  }

  10% {
    transform: translate(3px)
  }

  15% {
    transform: translate(-5px)
  }

  20% {
    transform: translate(5px)
  }

  25% {
    transform: translateZ(0)
  }

  to {
    transform: translateZ(0)
  }
}

@keyframes button-shake {
  0% {
    transform: translateZ(0)
  }

  5% {
    transform: translate(-1px)
  }

  10% {
    transform: translate(3px)
  }

  15% {
    transform: translate(-5px)
  }

  20% {
    transform: translate(5px)
  }

  25% {
    transform: translateZ(0)
  }

  to {
    transform: translateZ(0)
  }
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 0 0 var(--glow-color)
  }

  50% {
    box-shadow: 0 0 0 var(--glow-size) var(--glow-color-transparent)
  }

  70% {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }

  to {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 var(--glow-color)
  }

  50% {
    box-shadow: 0 0 0 var(--glow-size) var(--glow-color-transparent)
  }

  70% {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }

  to {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 0 0 var(--glow-color)
  }

  50% {
    box-shadow: 0 0 0 var(--glow-size) var(--glow-color-transparent)
  }

  70% {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }

  to {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 var(--glow-color)
  }

  50% {
    box-shadow: 0 0 0 var(--glow-size) var(--glow-color-transparent)
  }

  70% {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }

  to {
    box-shadow: 0 0 0 0 var(--glow-color-transparent)
  }
}

.summary {
  background-image: none;
  appearance: none;
  -webkit-appearance: none;
}