.plug-bar{background: #1A1A1A;color: #fff;position: relative;overflow: hidden;display: table;width: 100%;position: absolute;z-index: 9999;top: 0;padding-top: 5px;padding-bottom: 5px;background-image: url(../black-friday/img/bg-hero.jpg) !important;background-position: center;background-size: contain;}

.plug-bar .plug-inner{overflow: hidden;font-size: 18px;text-align: center;display: flex;position: relative;align-items: center;justify-content: center;}

.plug-bar .heading{
  display: flex;
  align-items: center;
}

.plug-bar .heading .small-logo-bf{
  width: 130px;
  transform: rotate(354deg);
  position: relative;
  top: -1px;
  margin-right: 20px;
}

.plug-bar .heading h4{
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 0;
}

.plug-bar .cta{
    margin-left: 25px;
}

.plug-bar .cta .btn{
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      color: #fff !important;
      padding: 14px 33px;
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 1.5;
      border-radius: 100px !important;
      background: linear-gradient(91deg, #fe924a 0%, #ec099a 100%) 0% 0%;
      border: 2px solid #fe5f85;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
}


.site-header--absolute{
  top:70px;
}

.bg-hero{
    margin-top: 80px;
}

@media only screen and (max-width: 800px) {

  .plug-bar{
    padding: 5px 10px;
  }
  .plug-bar .heading .small-logo-bf{
      width: 120px;
      margin-right: 15px;
  }
  .plug-bar .heading h4{
    font-size:23px;
  }
  .plug-bar .cta .btn{
     line-height: 19px;
    padding: 16px 17px;
  }

}

@media only screen and (max-width: 550px) {

  .plug-bar{
    padding: 5px 9px;
  }

  .plug-bar .cta{
    margin-left: 10px;
  }
  .plug-bar .plug-inner{
    
  }
  .plug-bar .heading .small-logo-bf{
      width: 120px;
      margin-right: 20px;
  }
  .plug-bar .heading h4{
    font-size: 19px;
    line-height: 1.1em;
  }
  .plug-bar .cta .btn{
     line-height: 19px;
     padding: 12px 12px;
     letter-spacing: 0.2px;
     font-size: 18px;
  }

}

@media only screen and (max-width: 444px) {

  .bg-hero {
    margin-top: 50px;
}

  .plug-bar{
    padding: 5px 7px 5px 4px;
  }
  .plug-bar .heading .small-logo-bf{
    width: 100px;
    margin-right: 8px;
  }

  .plug-bar .heading h4{
    font-size: 16px;
  }

  .plug-bar .cta .btn{
    padding: 14px 0px;
    letter-spacing: 0.2px;
    font-size: 16px;
  }

  .site-header--absolute{
    top: 40px;
  }

}

@media only screen and (max-width: 400px) {

  .plug-bar{
    padding: 6px 5px 6px 5px;
  }
    .plug-bar .heading .small-logo-bf{
        width: 80px;
    }

  .plug-bar .cta .btn{
    min-width: unset;
    width: 83px;
    padding: 6px 0;
    font-size: 15px;
    display: block;
    line-height: 1.1;
    font-weight: bold;
  }

  .bg-hero{
    margin-top:35px;
  }

  .site-header--absolute{
    top:38px
  }

  .plug-bar .heading h4{
    
  }

}}